body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    text-align: center;
    padding: 20px;
}
form {
    background-color: white;
    display: inline-block;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
label {
    display: block;
    margin-top: 10px;
    font-size: 16px;
}
input {
    padding: 8px;
    width: 80%;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
}
button:hover {
    background-color: #45a049;
}
table {
    width: 50%;
    margin: 20px auto;
    border-collapse: collapse;
}
th, td {
    padding: 8px 12px;
    text-align: left;
    border: 1px solid #ddd;
}
th {
    background-color: #f4f4f4;
}
tr:hover {
    background-color: #ddd;
    transition: 0.3s;
}


/*for search bar*/
#search {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-left: 10px;
    width: 200px;
}

form[action="/"] label {
    font-weight: bold;
    margin-right: 5px;
}

form[action="/"] button[type="submit"] {
    padding: 8px 16px;
    background-color: #45A049FF;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

form[action="/"] button[type="submit"]:hover {
    background-color: #0056b3;
}